<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Detalhes Funcionário</title>
		<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
	
	<h3>Detalhes</h3>
	
		<div class = "container">
			<div th:each = "funcionario : ${funcionario}">
				<div class="row">
					<label>Nome</label>
					<p><span th:text = "${funcionario.nome}"></span></p>
					<label>RG</label>
					<p><span th:text = "${funcionario.rg}"></span></p>
					<label>CPF</label>
					<p><span th:text = "${funcionario.cpf}"></span></p>
					<label>Data de Nascimento</label>
					<p><span th:text = "${funcionario.dataNascimento}"></span></p>
					<label>Endereço</label>
					<p><span th:text = "${funcionario.endereco}"></span></p>
				</div>
			</div>
		</div>
		
		
		<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	</body>
</html>